@import "../utils/typography";

.header {
	position: sticky;
	top: 0;
	left: 0;
	z-index: 10000;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1.9rem 0;
	box-shadow: 0px 4px 4px 0px #00000021;
	transition: 0.2s ease-in-out all;

	& * {
		transition: 0.2s ease-in-out all;
	}

	&__logo {
		position: relative;
		font-size: 0;
		max-width: 19.1rem;
		height: auto;

		& picture {
			width: 100%;
			height: auto;

			& img {
				width: 100%;
				height: auto;

				&:last-child {
					display: none;
				}
			}
		}

		@media only screen and (max-width: 1000px) {
			max-width: 13rem;
		}
	}

	&__m-button {
		display: none;
	}

	&__wrapper {
		width: 90%;
		max-width: 1100px;
		margin: auto;

		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 6.4rem;

		& a {
			margin-right: auto;
		}
	}

	&__menu {
		display: flex;
		align-items: center;
		gap: 2.6rem;

		& > a,
		& > button {
			font-size: 1.6rem;
			line-height: 2.4rem;
			font-weight: 400;
			color: #2f0e6d;
			font-family: $poppins;
		}

		& .pointer {
			display: inline-flex;
			align-items: center;
			gap: 0.2rem;

			&::after {
				content: "";
				display: block;
				width: 2.4rem;
				height: 1.2rem;
				background-repeat: no-repeat;
				background-size: contain;
				transition: 0.1s ease-in-out all;
				background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='12' viewBox='0 0 24 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_21_2642)'%3E%3Cpath d='M17.42 2.45199L18.48 3.51299L12.703 9.29199C12.6104 9.38514 12.5004 9.45907 12.3791 9.50952C12.2579 9.55997 12.1278 9.58594 11.9965 9.58594C11.8652 9.58594 11.7352 9.55997 11.6139 9.50952C11.4927 9.45907 11.3826 9.38514 11.29 9.29199L5.51001 3.51299L6.57001 2.45299L11.995 7.87699L17.42 2.45199Z' fill='%23FFF'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_21_2642'%3E%3Crect width='12' height='24' fill='white' transform='translate(24) rotate(90)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
			}

			&[active] {
				&::after {
					transform: rotate(180deg);
				}
			}
		}
	}

	&__m-menu {
		display: contents;
	}

	&__last {
		& a,
		& button {
			font-size: 1.6rem;
			line-height: 2.6rem;
			text-align: center;
			color: #fff;
			font-family: $poppins;
			font-weight: 400;
			padding: 0.9rem 2.75rem;
			background-color: #05a95c;
			border-radius: 4.7rem;
			text-transform: uppercase;
		}
	}

	&--purple {
		background-color: #2f0e6d;
		box-shadow: unset;

		& .header__logo {
			& picture {
				& img {
					&:last-child {
						display: block;
					}

					&:first-child {
						display: none;
					}
				}
			}
		}

		& .header__menu {
			& > a,
			& > button {
				color: #fff;
			}

			& .pointer {
				&::after {
					background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='12' viewBox='0 0 24 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_21_2642)'%3E%3Cpath d='M17.42 2.45199L18.48 3.51299L12.703 9.29199C12.6104 9.38514 12.5004 9.45907 12.3791 9.50952C12.2579 9.55997 12.1278 9.58594 11.9965 9.58594C11.8652 9.58594 11.7352 9.55997 11.6139 9.50952C11.4927 9.45907 11.3826 9.38514 11.29 9.29199L5.51001 3.51299L6.57001 2.45299L11.995 7.87699L17.42 2.45199Z' fill='%23FFF'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_21_2642'%3E%3Crect width='12' height='24' fill='white' transform='translate(24) rotate(90)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
				}
			}
		}
	}

	&--scrolled {
		background-color: #fff;
		box-shadow: 0px 4px 4px 0px #00000021;

		& .header__logo {
			& picture {
				& img {
					&:last-child {
						display: none;
					}

					&:first-child {
						display: block;
					}
				}
			}
		}

		& .header__menu {
			& > a,
			& > button {
				color: #2f0e6d;
			}

			& .pointer {
				&::after {
					background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='12' viewBox='0 0 24 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_21_2642)'%3E%3Cpath d='M17.42 2.45199L18.48 3.51299L12.703 9.29199C12.6104 9.38514 12.5004 9.45907 12.3791 9.50952C12.2579 9.55997 12.1278 9.58594 11.9965 9.58594C11.8652 9.58594 11.7352 9.55997 11.6139 9.50952C11.4927 9.45907 11.3826 9.38514 11.29 9.29199L5.51001 3.51299L6.57001 2.45299L11.995 7.87699L17.42 2.45199Z' fill='%232f0e6d'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_21_2642'%3E%3Crect width='12' height='24' fill='white' transform='translate(24) rotate(90)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
				}
			}
		}
	}

	@media only screen and (max-width: 1000px) {
		&__m-button {
			display: flex;
			flex-flow: column;
			gap: 0.5rem;
			width: 2.5rem;
			cursor: pointer;

			background: unset;
			border: unset;

			& span,
			&::after,
			&::before {
				content: "";
				background-color: #2f0e6d;
				height: 0.3rem;
				width: 100%;
				transition: 0.2s ease-in-out all;
			}

			&[data-active] {
				& span {
					transform: scaleX(0);
				}

				&::before {
					transform: rotate(50deg) translateY(0.57rem)
						translateX(0.57rem);
				}

				&::after {
					transform: rotate(-50deg) translateY(-0.57rem)
						translateX(0.57rem);
				}
			}
		}

		&__menu {
			display: flex;
			flex-flow: column;
			align-items: center;
			width: 100%;

			& > a,
			& > button {
				color: #2f0e6d !important;
				margin-right: unset;
			}

			& .pointer {
				&::after {
					background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='12' viewBox='0 0 24 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_21_2642)'%3E%3Cpath d='M17.42 2.45199L18.48 3.51299L12.703 9.29199C12.6104 9.38514 12.5004 9.45907 12.3791 9.50952C12.2579 9.55997 12.1278 9.58594 11.9965 9.58594C11.8652 9.58594 11.7352 9.55997 11.6139 9.50952C11.4927 9.45907 11.3826 9.38514 11.29 9.29199L5.51001 3.51299L6.57001 2.45299L11.995 7.87699L17.42 2.45199Z' fill='%232f0e6d'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_21_2642'%3E%3Crect width='12' height='24' fill='white' transform='translate(24) rotate(90)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A") !important;
				}
			}
		}

		&__last {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;

			& a,
			& button {
				margin-right: unset;
			}
		}

		&__m-menu {
			display: flex;
			flex-flow: column;
			align-items: flex-start;
			position: fixed;
			top: 11.72rem;
			height: calc(100% - 11.72rem);
			left: 0;
			width: 100%;
			padding: 2rem 1rem;
			background: #f4f4f4;
			gap: 2.6rem;
			opacity: 0;
			pointer-events: none;

			&[data-active] {
				opacity: 1;
				pointer-events: all;
			}
		}

		&--purple {
			& .header__m-button {
				& span,
				&::after,
				&::before {
					background-color: #fff;
				}
			}
		}

		&--scrolled {
			& .header__m-menu {
				top: 8.495rem;
				height: calc(100% - 8.495rem);
			}

			& .header__m-button {
				& span,
				&::after,
				&::before {
					background-color: #2f0e6d;
				}
			}
		}
	}
}
