@import "../utils/typography";
@import "../utils/variables";

.desafios {
    margin: clamp(4rem, 8.5vw, 8.5rem) auto 8.4rem;
    width: 90%;
    max-width: 122rem;

    & h2 {
        font-family: $biko;
        font-size: clamp(3.2rem, 4.8vw, 4.8rem);
        line-height: clamp(4rem, 5.318vw, 5.318rem);
        text-align: center;
        font-weight: 400;

        margin-bottom: clamp(3rem, 5.1vw, 5.1rem);
    }

    &__caderno {
        display: flex;
        gap: 3.6rem;

        @media only screen and (max-width: 1200px) {
            flex-flow: column;
        }
    }

    &__pagina {
        border: $purpleborder solid 0.2rem;
        border-radius: 1.5rem;
        background-color: $purple;
        padding: 3.8rem 4rem;
        min-height: 70rem;

        flex: 1;

        position: relative;

        & h3 {
            font-family: $biko;
            font-size: clamp(2.4rem, 3.2vw, 3.2rem);
            line-height: 3.456rem;
            font-weight: 400;
            text-wrap: wrap;

            margin-bottom: 0.7rem;

            width: fit-content;
        }

        & p,
        & ul {
            font-family: $inter;
            font-size: 1.4rem;
            line-height: 2.1rem;

            margin-bottom: 2rem;

            width: 75%;

            & li {
                margin-left: 2rem;
            }

            @media only screen and (max-width: 1200px) {
                width: 100%;
            }
        }

        & button {
            font-family: $inter;
            font-size: 1.6rem;
            line-height: 2.6rem;
            text-align: center;
            text-wrap: nowrap;
            color: #fff;

            cursor: pointer;

            padding: 0.9rem 2.05rem;
            border-radius: 4.7rem;
            background-color: $tertiary;
        }

        &:first-of-type {
            &::before {
                content: "";
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='35' height='35' viewBox='0 0 35 35' fill='none'%3E%3Cpath d='M17.5 0L22.2266 12.7734L35 17.5L22.2266 22.2266L17.5 35L12.7734 22.2266L0 17.5L12.7734 12.7734L17.5 0Z' fill='%232F0E6D'/%3E%3C/svg%3E");
                width: 3.5rem;
                height: 3.5rem;
                display: block;
                background-repeat: no-repeat;

                position: absolute;
                bottom: 20%;
                left: -1.8rem;
            }

            &::after {
                content: "";
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='47' viewBox='-6 -6 47 47' fill='none'%3E%3Cpath d='M0 16C0 24.8366 7.16344 32 16 32H32V0H16C7.16344 0 0 7.16344 0 16Z' fill='white'/%3E%3C/svg%3E");
                width: 3.2rem;
                height: clamp(65rem, 100%, 94%);
                display: block;

                position: absolute;
                right: -0.3rem;
                top: 2rem;
            }
        }

        &:last-of-type {
            display: flex;
            flex-flow: column;
            align-items: center;

            @media only screen and (max-width: 1200px) {
                align-items: unset;
            }

            &::before {
                content: "";
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='35' height='35' viewBox='0 0 35 35' fill='none'%3E%3Cpath d='M17.5 0L22.2266 12.7734L35 17.5L22.2266 22.2266L17.5 35L12.7734 22.2266L0 17.5L12.7734 12.7734L17.5 0Z' fill='%232F0E6D'/%3E%3C/svg%3E");
                width: 3.5rem;
                height: 3.5rem;
                display: block;
                background-repeat: no-repeat;

                position: absolute;
                top: -2.5rem;
                right: 8rem;
            }

            &::after {
                content: "";
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='47' viewBox='-6 -6 47 47' fill='none' style='display: block; transform: scale(-1,1)'%3E%3Cpath d='M0 16C0 24.8366 7.16344 32 16 32H32V0H16C7.16344 0 0 7.16344 0 16Z' fill='white'/%3E%3C/svg%3E");
                width: 4.5rem;
                height: clamp(65rem, 100%, 94%);
                display: block;

                position: absolute;
                left: -1.9rem;
                top: 2rem;
            }
        }
    }

    &__isolado {
        margin-top: auto;

        align-self: flex-end;

        width: 55%;

        @media only screen and (max-width: 1200px) {
            align-self: unset;
            width: 100%;
        }

        & h3 {
            width: 50%;
        }

        & p {
            width: 100%;
        }
    }
}
