@import "../utils/typography";

.l-description {
	max-width: 1100px;
	width: 80%;
	margin: 2rem auto;

	display: flex;
	flex-flow: column;
	gap: clamp(1.5rem, 3.5vw, 3.5rem);

	&:last-of-type {
		margin: 2rem auto clamp(5rem, 12.6vw, 12.6rem);
	}

	& h2 {
		font-size: clamp(2rem, 4.8vw, 4.8rem);
		line-height: clamp(3.5rem, 5.3vw, 5.3rem);
		color: #202020;
		font-family: $biko;
		font-weight: 400;
		text-align: center;
	}

	& h3 {
		font-size: clamp(2.5rem, 4.8vw, 4.8rem);
		line-height: clamp(3rem, 5.3vw, 5.3rem);
		text-align: center;
		font-weight: 400;
		font-family: $biko;
		color: #2f0e6d;
		margin-top: clamp(2rem, 5vw, 5rem);
	}

	& img {
		width: 100%;
		height: auto;
		margin: clamp(2rem, 5vw, 5rem) 0;
	}

	&__text {
		max-width: 84.1rem;
		width: 100%;
		margin: auto;
		display: flex;
		flex-flow: row wrap;
		gap: clamp(1.5rem, 4.3vw, 4.3rem);

		& p {
			font-size: clamp(1.4rem, 1.6vw, 1.6rem);
			line-height: clamp(2.2rem, 2.6vw, 2.6rem);
			color: #202020;
			font-weight: 400;
			font-family: $poppins;
			text-align: justify;
			min-width: min-content;
			height: fit-content;
			flex: 1;
		}

		&--paragraph {
			& p:first-child {
				position: relative;

				&::after {
					background-image: url("data:image/svg+xml,%0A%3Csvg width='48' height='36' viewBox='0 0 48 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M47.248 24.424C47.248 28.264 46.4373 31.08 44.816 32.872C43.1947 34.664 40.464 35.56 36.624 35.56C32.528 35.56 29.712 34.664 28.176 32.872C26.7253 31.08 26 28.264 26 24.424V23.4C26 19.048 26.128 15.4213 26.384 12.52C26.64 9.53333 27.3653 7.18666 28.56 5.48C29.7547 3.688 31.5467 2.408 33.936 1.64C36.4107 0.871999 39.824 0.487999 44.176 0.487999V6.632H43.152C39.568 6.632 36.9653 7.10133 35.344 8.03999C33.808 8.97866 32.9973 10.8987 32.912 13.8C33.936 13.544 35.1733 13.416 36.624 13.416C40.464 13.416 43.1947 14.312 44.816 16.104C46.4373 17.8107 47.248 20.584 47.248 24.424ZM21.648 24.424C21.648 28.264 20.8373 31.08 19.216 32.872C17.5947 34.664 14.864 35.56 11.024 35.56C6.928 35.56 4.112 34.664 2.576 32.872C1.12533 31.08 0.4 28.264 0.4 24.424C0.4 19.816 0.528 16.0187 0.784 13.032C1.04 9.96 1.72267 7.48533 2.832 5.60799C4.02667 3.73066 5.81867 2.408 8.208 1.64C10.6827 0.871999 14.1387 0.487999 18.576 0.487999V6.632H17.552C13.968 6.632 11.3653 7.10133 9.744 8.03999C8.208 8.97866 7.39733 10.8987 7.312 13.8C8.336 13.544 9.57333 13.416 11.024 13.416C14.864 13.416 17.5947 14.312 19.216 16.104C20.8373 17.8107 21.648 20.584 21.648 24.424Z' fill='%23202020'/%3E%3C/svg%3E%0A");
					background-repeat: no-repeat;
					background-size: contain;
					width: clamp(3rem, 5.8vw, 5.8rem);
					height: auto;
					aspect-ratio: 48 / 36;
					content: "";

					position: absolute;
					top: calc(100% + 3rem);
					left: 0;

					@media only screen and (max-width: 1000px) {
						content: unset;
					}
				}
			}
		}
	}
}
