@import "../utils/typography";
@import "../utils/variables";

.p-noticias {
    padding: 0rem 0 9rem;
    display: flex;

    & header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 2.4rem;

        @media only screen and (max-width: 768px) {
            flex-flow: column;
            padding: 0;
        }

        & h2 {
            font-family: $biko;
            font-weight: 400;
            font-size: 4.8rem;
            line-height: 5.318rem;
            color: #202020;
			width: 100%;
			hyphens: auto;
        }

        & a {
            font-family: $inter;
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 2.6rem;
            text-decoration: underline;
            color: #fff;
        }
    }

	&--purple {
		background: #E0E6FF;
		padding: 9rem 0 9rem;
		border-radius: 6rem;
	}

    &__section {
        display: flex;
        flex-wrap: wrap;
        gap: 5rem;
        justify-content: center;

		& button {
			font-size: 1.6rem;
			line-height: 2.6rem;
			text-align: center;
			color: #fff;
			font-family: $poppins;
			font-weight: 400;
			padding: .9rem 2.75rem;
			background-color: $secondary;
			border-radius: 4.7rem;
			text-transform: uppercase;
			cursor: pointer;
			width: 20rem;
			height: 4rem;

			background-repeat: no-repeat;
			background-position: center;

			&:hover {
				transform: scale(1.05);
			}

			&:active {
				transform: scale(0.95);
			}

			&.loading {
				background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200"><radialGradient id="a10" cx=".66" fx=".66" cy=".3125" fy=".3125" gradientTransform="scale(1.5)"><stop offset="0" stop-color="%235828B2"></stop><stop offset=".3" stop-color="%235828B2" stop-opacity=".9"></stop><stop offset=".6" stop-color="%235828B2" stop-opacity=".6"></stop><stop offset=".8" stop-color="%235828B2" stop-opacity=".3"></stop><stop offset="1" stop-color="%235828B2" stop-opacity="0"></stop></radialGradient><circle transform-origin="center" fill="none" stroke="url(%23a10)" stroke-width="15" stroke-linecap="round" stroke-dasharray="200 1000" stroke-dashoffset="0" cx="100" cy="100" r="70"><animateTransform type="rotate" attributeName="transform" calcMode="spline" dur="2" values="360;0" keyTimes="0;1" keySplines="0 0 1 1" repeatCount="indefinite"></animateTransform></circle><circle transform-origin="center" fill="none" opacity=".2" stroke="%235828B2" stroke-width="15" stroke-linecap="round" cx="100" cy="100" r="70"></circle></svg>');
				color: #00000000;
			}
		}
    }

    &__lista {
        display: flex;
        flex-wrap: wrap;
        gap: 1.6rem;
		width: 100%;

        @media only screen and (max-width: 1200px) {
            flex-wrap: wrap;
        }

        @media only screen and (max-width: 460px) {
            flex-flow: column nowrap;
        }

		& span {
            font-family: $biko;
            font-weight: 400;
            font-size: 3.2rem;
            line-height: 5.318rem;
            color: #202020;
			width: 100%;
			hyphens: auto;
        }
    }

    &__cartao {
        display: flex;
        flex-flow: column;

        border-radius: 3.6rem;
        background-color: #fff;

        flex: 32%;

        height: clamp(45rem, 48vw, 48rem);

		box-shadow: 0 0.4rem 0.4rem 0 rgba(0,0,0,.1294117647);

		overflow: hidden;

        @media only screen and (max-width: 460px) {
            min-width: unset;
        }

        & img {
			min-height: 22rem;
            object-fit: cover;

            border-radius: 3.6rem 3.6rem 0 0;
        }

        & h2 {
            padding: 1rem 2rem;
            position: absolute;
            font-family: $biko;
            font-size: 2rem;
            font-weight: 400;
            color: #fff;
            background-color: $secondary;
            border-radius: 3rem;
            margin: 15rem 0 0 2rem;

            @media only screen and (max-width: 1200px) {
                margin: 14rem 0 0 2rem;
            }

            @media only screen and (max-width: 768px) {
                margin: 12rem 0 0 2rem;
            }

			@media only screen and (max-width: 600px) {
                margin: 9rem 0 0 2rem;
            }

            @media only screen and (max-width: 460px) {
                margin: 16rem 0 0 2rem;
            }

			@media only screen and (max-width: 380px) {
                margin: 12rem 0 0 2rem;
            }
        }

        & div {
            padding: 2.4rem 2.3rem 2.6rem;

            display: flex;
            flex-flow: column;
            gap: 0.7rem;

            height: 100%;

            & h3 {
                font-family: $biko;
                font-weight: 400;
                font-size: 1.8rem;
                line-height: 1.994rem;
            }

            & p,
            & span {
                font-family: $inter;
                font-weight: 400;
                font-size: 1.4rem;
                line-height: 2.1rem;
            }

            & span {
                margin-top: auto;
            }
        }

		&:hover {
			opacity: 1;
			transform: scale(1.05);
		}
    }
}