@import "../utils/typography";
@import "../utils/variables";

@import "../utils/typography";

.p-noticias {
    padding: 0rem 0 9rem;
    display: flex;

    & header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 2.4rem;

        @media only screen and (max-width: 768px) {
            flex-flow: column;
            padding: 0;
        }

        & h2 {
            font-family: $biko;
            font-weight: 400;
            font-size: 4.8rem;
            line-height: 5.318rem;
            color: #202020;
        }

        & a {
            font-family: $inter;
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 2.6rem;
            text-decoration: underline;
            color: #fff;
        }
    }

    &__section {
        display: flex;
        flex-wrap: wrap;
        gap: 5rem;
        justify-content: center;
    }

    &__lista {
        display: flex;
        flex-wrap: wrap;
        gap: 1.6rem;

        @media only screen and (max-width: 1200px) {
            flex-wrap: wrap;
        }

        @media only screen and (max-width: 768px) {
            flex-direction: column;
        }

        @media only screen and (max-width: 460px) {
            flex-flow: column nowrap;
        }
    }

    &__cartao {
        display: flex;
        flex-flow: column;

        border-radius: 3.6rem;
        background-color: #fff;

        flex: 1;

        max-width: 35.6rem;

        height: clamp(45rem, 48vw, 48rem);

        @media only screen and (max-width: 460px) {
            min-width: unset;
        }

        & img {
            /*height: 22rem;*/
            object-fit: cover;

            border-radius: 3.6rem 3.6rem 0 0;
        }

        & h2 {
            padding: 1rem 2rem;
            position: absolute;
            font-family: "Biko", "Inter", sans-serif;
            font-size: 2rem;
            font-weight: 400;
            color: #fff;
            background-color: $secondary;
            border-radius: 3rem;
            margin: 15rem 0 0 2rem;

            @media only screen and (max-width: 1200px) {
                margin: 9rem 0 0 2rem;
            }

            @media only screen and (max-width: 768px) {
                margin: 15rem 0 0 2rem;
            }

            @media only screen and (max-width: 400px) {
                margin: 10rem 0 0 2rem;

            }
        }

        & div {
            padding: 2.4rem 2.3rem 2.6rem;

            display: flex;
            flex-flow: column;
            gap: 0.7rem;

            height: 100%;

            & h3 {
                font-family: $biko;
                font-weight: 400;
                font-size: 1.8rem;
                line-height: 1.994rem;
            }

            & p,
            & span {
                font-family: $inter;
                font-weight: 400;
                font-size: 1.4rem;
                line-height: 2.1rem;
            }

            & span {
                margin-top: auto;
            }
        }
    }
}