@import "../utils/typography";
@import "../utils/variables";

.s-content {
	font-family: $poppins;
	font-size: 1.6rem;
	line-height: 2.6rem;

	display: flex;
	gap: 3.9rem;

	margin-bottom: 8.5rem;

	&__left {
		display: flex;
		flex-flow: column;
		gap: 1.5rem;

		height: fit-content;
		margin-bottom: 4rem;

		position: sticky;
		top: 12%;

		& a {
			width: 6rem;
			height: 6rem;
			border-radius: 100%;
			overflow: hidden;
			background-color: $secondary;

			display: flex;
			justify-content: center;
			align-items: center;

			&::before {
				content: "";
				background-repeat: no-repeat;
				background-position: center;
				width: 2.8rem;
				height: 2.8rem;
				display: block;
			}

			&#whatsapp {
				&::before {
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 28 28' fill='none'%3E%3Cpath d='M23.3991 4.5467C22.1765 3.31217 20.7205 2.33332 19.1158 1.66718C17.5111 1.00104 15.7899 0.660942 14.0524 0.666698C6.77242 0.666698 0.839089 6.60003 0.839089 13.88C0.839089 16.2134 1.45242 18.48 2.59909 20.48L0.732422 27.3334L7.73242 25.4934C9.66575 26.5467 11.8391 27.1067 14.0524 27.1067C21.3324 27.1067 27.2658 21.1734 27.2658 13.8934C27.2658 10.36 25.8924 7.04003 23.3991 4.5467ZM14.0524 24.8667C12.0791 24.8667 10.1458 24.3334 8.45242 23.3334L8.05242 23.0934L3.89242 24.1867L4.99909 20.1334L4.73242 19.72C3.63582 17.9694 3.05365 15.9457 3.05242 13.88C3.05242 7.8267 7.98575 2.89336 14.0391 2.89336C16.9724 2.89336 19.7324 4.04003 21.7991 6.12003C22.8226 7.13852 23.6336 8.35009 24.1853 9.68447C24.7369 11.0189 25.018 12.4495 25.0124 13.8934C25.0391 19.9467 20.1058 24.8667 14.0524 24.8667ZM20.0791 16.6534C19.7458 16.4934 18.1191 15.6934 17.8258 15.5734C17.5191 15.4667 17.3058 15.4134 17.0791 15.7334C16.8524 16.0667 16.2258 16.8134 16.0391 17.0267C15.8524 17.2534 15.6524 17.28 15.3191 17.1067C14.9858 16.9467 13.9191 16.5867 12.6658 15.4667C11.6791 14.5867 11.0258 13.5067 10.8258 13.1734C10.6391 12.84 10.7991 12.6667 10.9724 12.4934C11.1191 12.3467 11.3058 12.1067 11.4658 11.92C11.6258 11.7334 11.6924 11.5867 11.7991 11.3734C11.9058 11.1467 11.8524 10.96 11.7724 10.8C11.6924 10.64 11.0258 9.01336 10.7591 8.3467C10.4924 7.7067 10.2124 7.7867 10.0124 7.77336H9.37242C9.14575 7.77336 8.79909 7.85336 8.49242 8.1867C8.19909 8.52003 7.34576 9.32003 7.34576 10.9467C7.34576 12.5734 8.53242 14.1467 8.69242 14.36C8.85242 14.5867 11.0258 17.92 14.3324 19.3467C15.1191 19.6934 15.7324 19.8934 16.2124 20.04C16.9991 20.2934 17.7191 20.2534 18.2924 20.1734C18.9324 20.08 20.2524 19.3734 20.5191 18.6C20.7991 17.8267 20.7991 17.1734 20.7058 17.0267C20.6124 16.88 20.4124 16.8134 20.0791 16.6534Z' fill='white'/%3E%3C/svg%3E");
				}
			}

			&#facebook {
				&::before {
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='28' viewBox='0 0 15 28' fill='none'%3E%3Cpath d='M9.66732 16H13.0007L14.334 10.6666H9.66732V7.99996C9.66732 6.62663 9.66732 5.33329 12.334 5.33329H14.334V0.853293C13.8993 0.795959 12.258 0.666626 10.5247 0.666626C6.90465 0.666626 4.33398 2.87596 4.33398 6.93329V10.6666H0.333984V16H4.33398V27.3333H9.66732V16Z' fill='white'/%3E%3C/svg%3E");
				}
			}

			&#instagram {
				&::before {
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 28 28' fill='none'%3E%3Cpath d='M8.39935 0.666626H19.5993C23.866 0.666626 27.3327 4.13329 27.3327 8.39996V19.6C27.3327 21.651 26.5179 23.618 25.0676 25.0683C23.6174 26.5185 21.6504 27.3333 19.5993 27.3333H8.39935C4.13268 27.3333 0.666016 23.8666 0.666016 19.6V8.39996C0.666016 6.34895 1.48078 4.38195 2.93106 2.93167C4.38134 1.48139 6.34834 0.666626 8.39935 0.666626ZM8.13268 3.33329C6.85964 3.33329 5.63874 3.83901 4.73857 4.73918C3.8384 5.63935 3.33268 6.86025 3.33268 8.13329V19.8666C3.33268 22.52 5.47935 24.6666 8.13268 24.6666H19.866C21.1391 24.6666 22.36 24.1609 23.2601 23.2607C24.1603 22.3606 24.666 21.1397 24.666 19.8666V8.13329C24.666 5.47996 22.5193 3.33329 19.866 3.33329H8.13268ZM20.9993 5.33329C21.4414 5.33329 21.8653 5.50889 22.1779 5.82145C22.4904 6.13401 22.666 6.55793 22.666 6.99996C22.666 7.44199 22.4904 7.86591 22.1779 8.17847C21.8653 8.49103 21.4414 8.66663 20.9993 8.66663C20.5573 8.66663 20.1334 8.49103 19.8208 8.17847C19.5083 7.86591 19.3327 7.44199 19.3327 6.99996C19.3327 6.55793 19.5083 6.13401 19.8208 5.82145C20.1334 5.50889 20.5573 5.33329 20.9993 5.33329ZM13.9993 7.33329C15.7675 7.33329 17.4632 8.03567 18.7134 9.28591C19.9636 10.5362 20.666 12.2318 20.666 14C20.666 15.7681 19.9636 17.4638 18.7134 18.714C17.4632 19.9642 15.7675 20.6666 13.9993 20.6666C12.2312 20.6666 10.5355 19.9642 9.2853 18.714C8.03506 17.4638 7.33268 15.7681 7.33268 14C7.33268 12.2318 8.03506 10.5362 9.2853 9.28591C10.5355 8.03567 12.2312 7.33329 13.9993 7.33329ZM13.9993 9.99996C12.9385 9.99996 11.9211 10.4214 11.1709 11.1715C10.4208 11.9217 9.99935 12.9391 9.99935 14C9.99935 15.0608 10.4208 16.0782 11.1709 16.8284C11.9211 17.5785 12.9385 18 13.9993 18C15.0602 18 16.0776 17.5785 16.8278 16.8284C17.5779 16.0782 17.9993 15.0608 17.9993 14C17.9993 12.9391 17.5779 11.9217 16.8278 11.1715C16.0776 10.4214 15.0602 9.99996 13.9993 9.99996Z' fill='white'/%3E%3C/svg%3E");
				}
			}
		}
	}

	&__right {
		width: 100%;

		& h2 {
			font-size: clamp(2rem, 4.8vw, 4.8rem);
			line-height: clamp(3.5rem, 5.3vw, 5.3rem);
			color: #202020;
			font-family: $biko;
			font-weight: 400;
			margin: 1rem 0;
		}

		& h3 {
			font-size: clamp(1.8rem, 3.5vw, 3.5rem);
			line-height: clamp(3rem, 5.3vw, 5.3rem);
			font-weight: 400;
			font-family: $biko;
			color: #202020;
			margin: 1rem 0;
		}

		& h4 {
			font-size: clamp(1.6rem, 3vw, 3rem);
			line-height: clamp(3rem, 5.3vw, 5.3rem);
			font-weight: 400;
			font-family: $biko;
			color: #202020;
			margin: 1rem 0;
		}

		& a {
			background-color: $secondary;
			border-radius: 3rem;
			padding: 1rem 2.6rem;
			margin: 1rem 0;

			display: inline-block;

			font-family: $poppins;
			color: #fff;
			font-weight: 400;
			font-size: 1.6rem;
			line-height: 2.4rem;

			transition: all 0.2s ease-in-out;

			&:hover {
				transform: scale(1.05);
				opacity: 1;
			}
		}

		& ul, ol {
			margin-left: 2rem;
		}

		& table {
			display: flex;
			flex-flow: column;
			overflow-x: auto;

			height: fit-content !important;

			& tbody {
				min-width: 60rem;
			}

			& tr {
				display: flex;
				flex-flow: row;
				justify-content: space-between;
				background-color: #05a95c;
				padding: clamp(0.7rem, 1.7vw, 1.7rem) clamp(1.8rem, 4vw, 4rem);

				height: 100% !important;

				&:nth-child(2n) {
					background-color: #2f0e6d;
				}

				& td {
					color: #fff;
					font-size: clamp(1.6rem, 1.8vw, 1.8rem);
					line-height: clamp(2rem, 2.6vw, 2.6rem);
					font-family: $poppins;
					font-weight: 400;
					flex: 1;

					&:not(:first-of-type):not(:last-of-type) {
						flex: 3;
						text-align: center;
					}

					&:last-of-type {
						text-align: end;
					}
				}
			}
		}

		& p:has(.aligncenter) {
			text-align: center;
		}

		& p:has(.alignright) {
			text-align: right;
		}

		& .wp-block-table td, & .wp-block-table th {
			padding: unset;
			border: unset;
		}
	}
}