*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	box-sizing: border-box;
	position: relative;
	// font-family: "Mont", sans-serif;
}
main {
	position: relative;
}
img {
	max-width: 100%;
	height: auto;
}
a {
	color: inherit;
	text-decoration: none;
	transition: 0.2s ease-in-out all;

	&:hover {
		opacity: 0.8;
	}
}
.wrapper {
	margin: 0 auto;
	width: 80%;
	max-width: 1350px;
}

$poppins: "Poppins", "Inter", sans-serif;
