/*
@font-face {
    font-family: "Mont";
    src: url('../fonts/mont/Mont-Thin.otf') format("otf"),
        url('../fonts/mont/Mont-Thin.woff') format("woff");
    font-weight: 100;
}

@font-face {
    font-family: "Mont";
    src: url('../fonts/mont/Mont-ExtraLight.otf') format("otf"),
        url('../fonts/mont/Mont-ExtraLight.woff') format("woff");
    font-weight: 200;
}

@font-face {
    font-family: "Mont";
    src: url('../fonts/mont/Mont-Light.otf') format("otf"),
        url('../fonts/mont/Mont-Light.woff') format("woff");
    font-weight: 300;
}

@font-face {
    font-family: "Mont";
    src: url('../fonts/mont/Mont-Book.otf') format("otf"),
        url('../fonts/mont/Mont-Book.woff') format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "Mont";
    src: url('../fonts/mont/Mont-Regular.otf') format("otf"),
        url('../fonts/mont/Mont-Regular.woff') format("woff");
    font-weight: 500;
}

@font-face {
    font-family: "Mont";
    src: url('../fonts/mont/Mont-SemiBold.otf') format("otf"),
        url('../fonts/mont/Mont-SemiBold.woff') format("woff");
    font-weight: 600;
}

@font-face {
    font-family: "Mont";
    src: url('../fonts/mont/Mont-Bold.otf') format("otf"),
        url('../fonts/mont/Mont-Bold.woff') format("woff");
    font-weight: 700;
}

@font-face {
    font-family: "Mont";
    src: url('../fonts/mont/Mont-Heavy.otf') format("otf"),
        url('../fonts/mont/Mont-Heavy.woff') format("woff");
    font-weight: 800;
}

@font-face {
    font-family: "Mont";
    src: url('../fonts/mont/Mont-Black.otf') format("otf"),
        url('../fonts/mont/Mont-Black.woff') format("woff");
    font-weight: 900;
}
*/