body { background-color: #f9f9f9; /*background-image: url(../images/bgGlobal.jpg);*/ background-repeat: repeat; font-size: 12pt; font-family: 'Roboto', sans-serif; }
a { text-decoration: none; -moz-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
a:hover { }

.pb10 { padding-bottom: 10px; }
.pb20 { padding-bottom: 20px; }
.mb20 { margin-bottom: 20px !important; }

img.alignright { float: right; margin: 0 0 1em 1em; }
img.alignleft { float: left; margin: 0 1em 1em 0; }
img.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.alignright { float: right; }
.alignleft { float: left; }
.aligncenter { display: block; margin-left: auto; margin-right: auto; }


section,
img { vertical-align: middle; }

header { position: absolute; width: 100%; z-index: 2;}
header #lines { background-image: url(../images/colors.gif); background-repeat: repeat-x; }
header #lines #area { position: relative; height: 140px; }
header #lines #area a.logo { position: absolute; left: -329px; top: 0px; }

header #lines #area .menuTop li,
header #lines #area .menu li { display: inline-block; text-transform: uppercase; }

#main .container { background-color: #FFF; padding: 30px; }

#main .container .not { clear: left; margin-bottom: 30px; display: inline-block; }
#main .container .not:last-child { margin-bottom: 0px; }
#main .container .not .big {}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }

.mh { min-height: 500px; } /* fix */

.archive img { width: 100%; height: auto; }
.archive article { margin-bottom: 20px; }
.archive .side {margin-top: 50px;}
.archive .page-title,

.single-post .entry-title,
.facebook-photo-gallery .entry-title,
article.page .entry-title { font-family: 'Open Sans Condensed', sans-serif; font-size: 30px; color: #2e1966; border-bottom: 2px solid #31d1aa; padding-bottom: 8px; margin-bottom: 40px; text-transform: uppercase; }

.page .entry-content { color: #929292; font-size: 14px; }

.page .entry-content td,
.page .entry-content p { margin-bottom: 25px; line-height: 140%; }
.page .entry-content h1,
.page .entry-content h2,
.page .entry-content h3,
.page .entry-content h4,
.page .entry-content h5,
.page .entry-content h6 { font-family: 'Open Sans Condensed', sans-serif; color: #2e1966; }
.page .entry-content h2 { font-size: 24px; margin-top: 35px; text-transform: uppercase; margin-bottom: 10px; }
.page .entry-content img {  }
.page .entry-content small { font-style: italic; font-size: 12px; }
.page .entry-content table { margin-bottom: 10px; }

.page .entry-content strong { font-weight: bold; color: #2DBB98; }
.page .entry-content b { font-weight: bold; color: #655EA2; }

.page .entry-content input,
.page .entry-content select,
.page .entry-content textarea {  }

.page .entry-content ul {
   list-style-type: disc;
   list-style-position: inside;
}
.page .entry-content ul li { margin-bottom: 5px; }
.page .entry-content ol {
   list-style-type: decimal;
   list-style-position: inside;
}
.page .entry-content ul ul,
.page .entry-content ol ul {
   list-style-type: circle;
   list-style-position: inside;
   margin-left: 15px;
}
.page .entry-content ol ol,
.page .entry-content ul ol {
   list-style-type: lower-latin;
   list-style-position: inside;
   margin-left: 15px;
}


.side { color: #FFF; width: 95%; font-size:11px; background-color: #4f2cad; border-left: 7px solid #31d1aa; }
.side a { color: #FFF; text-transform: uppercase; padding: 4px; }
.side a:hover { color: #31d1aa; }
.side .widget { padding: 20px 25px; }
.side ul li { }
.side ul li a { display: block; }
.side ul li ul { margin-left: 10px; }
.side form {  }
.side label { display: block;
    text-align: left;
    color: #FFF;
    text-transform: uppercase;
}
.side form div { text-align: right; }
.side input[type="text"] {
    padding: 5px 5px;
    border: 0px;
    width: 100%;
    max-width: 154px;
    display: block;    outline: none;
}
.side input[type="submit"] {
    background-color: #2E1966;
    border: 0;
    color: #FFF;
    padding: 5px 10px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 11px;
    cursor: pointer;
}

.side h2 { color: #00E6B7; margin-bottom: 10px; }


.size-full { width: 100%; height: auto; }

.big h2 { }
.not h2 { font-family: 'Open Sans Condensed', sans-serif; font-size: 18px; text-transform: uppercase; margin-bottom: -5px; color: #655EA2; }

.not small,
.not p { color: #6c6c6c; font-size: 12px; }
.not small {  font-weight: bold; margin-bottom: 10px; display: inline-block; }

.big img { width: 100%; float: none !important; margin-bottom: 10px; }
.not img { float: left; margin-right: 10px; }

/*.not.big.ensino-medio h2 { background-color: #ffa62e;  color: #FFF; }
.not.big.ensino-fundamental h2 { background-color: #45cac8; color: #FFF; }
.not.big.educacao-infantil h2 { background-color: #e842a7; color: #FFF; }*/





.category-ensino-medio h2 a,
.not.ensino-medio h2 { color: #ffa62e; }

.category-ensino-fundamental h2 a,
.not.ensino-fundamental h2 { color: #45cac8; }

.category-educacao-infantil h2 a,
.not.educacao-infantil h2 { color: #e842a7; }






header #lines #area .menuTop { text-align: right; font-size: 11px; }
header #lines #area .menuTop li { background-image: url(../images/topline.gif); background-repeat: no-repeat; }
header #lines #area .menuTop li a { color: #c7bede; display: block; padding: 12px 18px; }
header #lines #area .menuTop li:first-child { background: none; }
header #lines #area .menuTop li:last-child,
header #lines #area .menuTop li:hover,
header #lines #area .menuTop li.active { background: #2e1966; }
header #lines #area .menuTop li.active a { color: #FFF;}

header #lines #area .menu { margin-left: 255px; }
header #lines #area .menu li { background-image: url(../images/menuline.gif); background-repeat: no-repeat; }
header #lines #area .menu li a { font-family: 'Open Sans Condensed', sans-serif; color: #FFF; display: block; padding: 10px 17px; font-size: 12pt;}
header #lines #area .menu li:first-child { background: none; }
header #lines #area .menu li:hover,
header #lines #area .menu li.active { background: #2dbb98; }
header #lines #area .menu li.active a { color: #FFF; }

#banner { display: inline-block; margin-top: 79px; overflow: hidden; width: 100%; position: relative; }

/* Banners */
.swiper-slide img { width: 100%;height: auto; }
.swiper-limiter { max-width: 960px; }
/*.swiper-limiter { max-height: 270px; }*/

.fixed { position: fixed; top: 20px; }
.side.fixed { max-width: 200px; }

footer #copy { background-color: #e4e4e4; color: #5b5b5f; }
footer #copy a { color: #5b5b5f; }
footer #copy .col:last-child p { text-align: right }
footer #copy .col:last-child p a { font-weight: 600; }
footer #copy .col p { padding: 13px 0px; font-size: 10pt; }
footer #copy a:hover { color: #333; }
footer #cross { height: 268px; background-image: url(../images/bgCross.jpg); background-repeat: no-repeat;
    background-color: #F0F0F0; position: relative; }
footer #cross #social { position: absolute; top: 28px; right: 67px; }
footer #cross #social a { display: inline-block; }
footer #cross #address { position: absolute; right: 236px; bottom: 0px; }
footer #cross #address p { font-size: 12px; font-weight: bold; color: #646464; display: inline-block; background-color: #FFF; margin: 0px; padding: 15px; }

#cross #menuF { font-family: 'Open Sans Condensed', sans-serif; height: 120px; bottom: 44px; position: absolute; left: 310px;     text-align: center; /*width: 480px;*/ }
#cross #menuF .widget_nav_menu { vertical-align: top; margin-right: 40px; display: inline-block; font-size: 12px; text-transform: uppercase; }
#cross #menuF .widget_nav_menu:last-child { margin-right: 0px; }
#cross #menuF .widget_nav_menu h2.widgettitle { font-size: 12px; margin-bottom: 15px; color: #31d1aa; }
#cross #menuF .widget_nav_menu .menu-item a { color: #635e9f; }
#cross #menuF .widget_nav_menu .menu-item a:hover { color: #2E1966}
@media (max-width : 768px) {
    footer #copy .col p.designer { background-color: #fff; }
}

.skew {
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    transform: skew(-20deg);
}

.skew a {
    -webkit-transform: skew(20deg) !important;
    -moz-transform: skew(20deg) !important;
    -o-transform: skew(20deg) !important;
    transform: skew(20deg) !important;

     -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}

.menuE-container { position: relative; display: block; }
.menuE { font-family: 'Open Sans', sans-serif; position: absolute; bottom: 0px; right: 0px; }
.menuE .skew { display: inline-block; margin-right: 10px; }
.menuE .skew a { color: #FFF; padding: 9px 20px; display: block; font-size: 11px; }
.menuE .skew a:hover { opacity: 0.6; filter: alpha(opacity=60); }

.skew.ei { background-color: #e842a7; }
.skew.ef { background-color: #45cac8; }
.skew.em { background-color: #ffa62e; }


table.st1 { width: 100%; }
table.st1 tr { border-bottom: 1px solid #f8f8f8; }
table.st1 tr td { padding: 10px; text-align: center; }
table.st1 td.cc { vertical-align: middle; text-align: center; background-color: #F8F8F8; font-weight: bold; }

table.st1 tr th,
h3.st1 { padding: 10px; background-color: #655EA2; text-align: center; font-family: 'Open Sans Condensed', sans-serif; color: #FFF !important; }

ul.zb { }
ul.zb li { text-align: center; list-style: none; margin-bottom: 0px !important; padding: 10px 15px; background-color: #f1f1f1; }
ul.zb li:nth-child(2n+1) { background-color: #F8F8F8; }

/* Quoutes  */
blockquote {  display:block;  background: #fff;  padding: 15px 20px 15px 55px;  margin: 0 0 20px;  position: relative;  font-family: Georgia, serif;  font-size: 16px;  line-height: 1.2;  color: #666;  text-align: justify;  border-right: 2px solid #2E1966;}
blockquote::before{  content: "\201C";  font-family: Georgia, serif;  font-size: 60px;  font-weight: bold;  color: #999;  position: absolute;  left: 10px;  top:5px;}
blockquote::after{  content: "";}
blockquote a{  text-decoration: none;  background: #eee;  cursor: pointer;  padding: 0 3px;  color: #c76c0c;}
blockquote a:hover{ color: #666;}
blockquote em{  font-style: italic;}


/*------------------------------------*/
.ensino-infantil {} 	/* #e842a7 */
.ensino-fundamental {}  /* #45cac8 */
.ensino-medio {} 		/* #ffa62e; */


/* Fotos */
/*------------------------------------*/
.navigation { text-align: center; border-top: 1px solid #F0F0F0; margin-top: 30px; padding-top: 50px; }
.navigation a { padding: 10px 20px; background-color: #655EA2; color: #FFF; margin: 10px; display: inline-block; }
.navigation a:hover { color: #655EA2; background-color: #EAEAEA; font-weight: bold; }
.navigation .previous,
.navigation .prev
.navigation .next { display: inline-block !important; }

.navigation .screen-reader-text,
.navigation .page-numbers { display: none; }


.facebook-photo-gallery { margin-top: 40px; }
.all { text-transform: uppercase; text-align: right; display: block; font-weight: bold; font-size: 13px; color: #2E1966; }
.photo-gallery-header p {}
.photo-gallery-header p a { display: inline-block; text-transform: uppercase; color: #2e1966; padding: 5px 10px; font-weight: bold; font-size: 12px;}

.grid-item { width: 300px; }
.grid-item--width2 { width: 600px; }
.grid-item img { width: 300px; }
.grid-item a { display: block; }

.grid-text {}
.grid-text li,
.grid-text li a .img { width: 293px; }
.grid-text li:nth-child(3n+3) {
  margin-right: 0px !important;
}

.grid-text li { float: left; list-style: none;
    margin-bottom: 10px !important;
    margin-right: 10px;
    height: 250px; position: relative; }
.grid-text li a { display: block; }
.grid-text li a .img { height: 200px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.grid-text li a:hover .caption { background-color: #5828B2; }
.grid-text li a:hover .caption span.titulo {  color: #FFF; }
.grid-text li a .caption { min-height: 71px; width: 100%; background-color: #F0F0F0; padding: 10px; position: absolute; bottom: 0; }
.grid-text li a .caption span.titulo { color: #5828B2; font-size: 14px; }
.grid-text li a .caption span { font-weight: bold; font-size: 12px; color: #00D2AA; display: block; }


/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
.spu-box { padding: 0px !important; }


/* FORM */
/*######## Smart Green ########*/
.smart-green {
    margin-left:auto;
    margin-right:auto;

    /*max-width: 500px;*/
    background: #271065;
    padding: 30px 30px 20px 30px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #666;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.smart-green p { font-weight: bold; color: #FFF; }
.smart-green h2 { color: #FFF !important; }
.smart-green h1 {
    font: 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 20px 0px 20px 40px;
    display: block;
    margin: -30px -30px 10px -30px;
    color: #FFF;
    background: #9DC45F;
    text-shadow: 1px 1px 1px #949494;
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    border-bottom:1px solid #89AF4C;

}
.smart-green h1>span {
    display: block;
    font-size: 11px;
    color: #FFF;
}

.smart-green label {
    display: block;
    margin: 0px 0px 5px;
}
.smart-green label>span {
    float: left;
    margin-top: 10px;
    color: #5E5E5E;
}
.smart-green input[type="number"],
.smart-green input[type="tel"],
.smart-green input[type="text"],
.smart-green input[type="email"],
.smart-green textarea,
.smart-green select {
    color: #555;
    height: 30px;
    line-height:15px;
    width: 100%;
    padding: 0px 0px 0px 10px;
    margin-top: 2px;
    border: 1px solid #E5E5E5;
    background: #FBFBFB;
    outline: 0;
    -webkit-box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    font: normal 14px/14px Arial, Helvetica, sans-serif;
}
.smart-green textarea{
    height:100px;
    padding-top: 10px;
}
.smart-green select {
    background: url('down-arrow.png') no-repeat right, -moz-linear-gradient(top, #FBFBFB 0%, #E9E9E9 100%);
    background: url('down-arrow.png') no-repeat right, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FBFBFB), color-stop(100%,#E9E9E9));
   appearance:none;
    -webkit-appearance:none;
   -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width:100%;
    height:30px;
}
.smart-green .wpcf7-submit {
    background-color: #655EA2;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-border-radius: 5px;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    text-shadow: 1px 1px 1px #949494;
}
.smart-green .wpcf7-submit:hover {
    cursor: pointer;
    background-color:#00E6B7;
}
/* MENU */
.menu-principal-container li {	margin: 0; padding: 0;	position: relative;}
.menu-principal-container ul li.current-menu-parent {	background-color: #2dbb98 !important;}
.menu-principal-container ul ul li.current_page_item {	background-color: #00D2AA !important;	border-left: 3px solid #5828B2;}
.menu-principal-container ul ul {	background-color: #2dbb98;		display: none;	position: absolute;	top: 42px;}
.menu-principal-container ul ul li {	background: none !important;	float: none;	width: 200px;}
.menu-principal-container ul ul li:hover {  background-color: #00D2AA !important; }
.menu-principal-container ul li:hover > ul {	display: block;}
.menu-principal-container ul ul li ul {	left: 200px;	top: 0;}





/* Eventos */

#tribe-events-content .tribe-events-calendar div[id*=tribe-events-event-] h3.tribe-events-month-event-title {
    font-weight: bold !important; font-size: 14px !important;
}

#tribe-events-content .tribe-events-calendar div[id*=tribe-events-event-] h3.tribe-events-month-event-title a {

}
#tribe-events-content .tribe-events-tooltip .tribe-event-duration .tribe-events-abbr { margin-bottom: 10px; display: block; }
#tribe-events-content .tribe-events-tooltip .tribe-event-description p { font-size: 14px; }

ul.tribe-events-sub-nav a { color: #00D2AA; }
#tribe-events .tribe-events-button, #tribe-events .tribe-events-button:hover, #tribe_events_filters_wrapper input[type=submit], .tribe-events-button, .tribe-events-button.tribe-active:hover, .tribe-events-button.tribe-inactive, .tribe-events-button:hover, .tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-], .tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-]>a { background-color: #00D2AA !important; }

#tribe-events-content .tribe-events-tooltip h4 {color: #5828B2 !important; }

#tribe-events-content .tribe-events-calendar div[id*=tribe-events-event-]:hover h3.tribe-events-month-event-title a { opacity: 1 !important; }
